 <% layout('layouts/boilerplate') %>
  
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">

<style>
  body {
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
  #filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .filter{
    text-align: center;
    margin-right: 1rem;
    margin-top: 1rem;
    opacity: 0.7;
  }
  .filter:hover{
    opacity: 1;
    cursor: pointer;
  }
  .filter p{
    font-size: 0.8rem;
  }
  .tax-info{
    display: none;
  }
  .tax-toggle{
    border:1px solid black;
    border-radius: 1rem;
    height: 3rem;
    padding: 1rem;
    margin-left: 1rem;
    display: flex;
    align-items: center;


  }
</style>
 
<div id="filters">
  <div class="filter">
    <div><i class="fa-solid fa-fire"></i></div>
    <p>Trending</p>
  </div>
   <div class="filter">
    <div><i class="fa-solid fa-bed"></i></div>
    <p>Rooms</p>
  </div>
   <div class="filter">
    <div><i class="fa-solid fa-mountain-city"></i></div>
    <p>Iconic Cities</p>
  </div>
   <div class="filter">
    <div><i class="fa-solid fa-mountain"></i></div>
    <p>Mountains</p>
  </div> <div class="filter">
    <div><i class="fa-solid fa-tree"></i></div>
    <p>Treehouses</p>
  </div>
   <div class="filter">
    <div><i class="fa-solid fa-person-swimming"></i></div>
    <p>Amazing Pools</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-mountain"></i></div>
    <p>Camping</p>
  </div> <div class="filter">
    <div><i class="fa-solid fa-cow"></i></div>
    <p>Farms</p>
  </div>
   <div class="filter">
    <div><i class="fa-solid fa-snowflake"></i></div>
    <p>Arctic</p>
  </div>
   <div class="filter">
    <div><i class="fa-solid fa-umbrella-beach"></i></div>
    <p>Beachfront</p>
  </div>
   <div class="filter">
    <div><i class="fa-solid fa-water"></i></div>
    <p>Lakefront</p>
  </div>

  <div class="tax-toggle">
    <div class="form-check-reverse form-switch">
  <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
  <label class="form-check-label" for="switchCheckDefault">Display total after taxes</label>
</div>
  </div>

</div>

<div class="container-fluid px-0">
  <!-- <h3 class="my-4">All Listings</h3> -->
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-3 mt-1">
    <% for (let listing of allListings) { %>
      <div class="col">
        <a href="/listings/<%= listing._id %>" class="text-decoration-none text-dark">
          <div class="card h-100 shadow-sm">
            <img 
  src="<%= listing.image?.url || listing.image %>" 
  class="card-img-top" 
  alt="listing_image" 
  />

                   <div class="card-img-overlay"></div>
            <div class="card-body">
              <h5 class="card-title"><%= listing.title %></h5>
              <p class="card-text text-muted">
                ₹<%= listing.price.toLocaleString("en-IN") %>/night
                <i class="tax-info"> &nbsp; &nbsp;+18% GST</i>
              </p>
            </div>
          </div>
        </a>
      </div>
    <% } %>
  </div>
</div>

<script>
  let taxSwitch=document.getElementById("switchCheckDefault")
  taxSwitch.addEventListener("click",()=>{
    let taxInfo=document.getElementsByClassName("tax-info");
    for(info of taxInfo){
      if(info.style.display !="inline"){
        info.style.display="inline";
      }else{
        info.style.display="none";
      }
       
    }
  });
</script>


    
    
 
 
